<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./templates/partials/navbar.ejs')%>
        <h1>Review section</h1>

        <form action="/review_search">

            <label for="search_by_airline">search by airline</label>
            <input type="text" id="search_by_airline" name="airline">
    
            <label for="search_by_username">search by username</label>
            <input type="text" id="search_by_username" name="username">

            <button type="submit">apply changes</button>
        </form>




        <table>
            <tr>
                <td>
                    Airline
                </td>
                <td>
                    Review
                </td>
                <td>
                    Username
                </td>
            </tr>
           <% for(let item of result){%>
                <tr>
                    <td>
                        <%=item.airline%>
                    </td>
                    <td>
                        <%= item.review%>
                    </td>
                    <td>
                        <%=item.username%>
                    </td>
                </tr>
                <% }%>
        </table>

        <h1>lost baggage section</h1>
        


</body>

</html>