<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="tophead">
        <h1 class="heading">M&M AIRPORT</h1>
    </div>
    <%- include('./templates/partials/navbar.ejs')%>
        <!-- <a href="./templates/partials/navbar.ejs"></a> -->
        <h1>navbar lodu</h1>
        <hr>
        <h1>design</h1>
        <hr>
        <h1>about airport</h1>
        <hr>
        <h1>find your flight</h1>
        <hr>
        <h1>search flight</h1>
        <hr>
        <h1>amminities</h1>
        <hr>
        <h1>footer</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae facilis, recusandae tempora labore
            laboriosam praesentium impedit odit ratione dolorum numquam consequatur possimus sed laborum eum dicta
            repudiandae officiis tenetur quaerat!
            Ipsam sequi error veritatis qui? Excepturi odit minima esse velit sint reiciendis sequi fugiat doloremque.
            Quos soluta non illo harum molestiae ea eius provident, praesentium, illum tempore, veniam corporis ullam.
            Sit in nam dignissimos? Repellat nihil, iusto velit sunt, nisi reprehenderit, quia qui modi quisquam tempora
            officia quasi iste dolore et similique officiis quidem illo ipsum dolorem aliquam at! Delectus?
            Ratione amet aperiam vero mollitia tempora ullam nulla quidem eius eum veritatis! Earum in ducimus pariatur
            exercitationem ipsam non, quis nostrum, sed esse minus impedit? Sequi exercitationem minus cumque ipsum.
            Atque exercitationem ipsum dicta distinctio quis consequatur est reiciendis placeat corrupti provident earum
            aspernatur laborum sapiente maxime assumenda magni hic porro nemo accusantium totam voluptatibus,
            necessitatibus recusandae consequuntur? Accusamus, obcaecati.
            Harum, reiciendis consequatur? Est quaerat, sit ea maxime consequuntur a, omnis eos mollitia quisquam enim
            veniam facere tempore ducimus atque incidunt ipsam quibusdam minus corrupti assumenda recusandae hic? Dolor,
            molestiae?
            Placeat harum aliquam et iure suscipit esse dolorum dolores ratione voluptatem soluta commodi quod sequi
            vitae, deleniti repudiandae facere, aspernatur voluptatibus saepe cupiditate dignissimos autem libero!
            Consectetur qui soluta molestiae!
            Dolorem est commodi obcaecati eaque adipisci facilis nesciunt dolorum nisi velit officiis nihil amet
            consectetur ducimus recusandae, labore quos odit. Dolor non ipsum rem neque officia ipsa. Qui, odit tempora?
            Totam corrupti similique, a nobis magnam quibusdam eaque laborum, consequatur omnis sit mollitia magni
            necessitatibus maiores voluptatum porro laudantium deserunt deleniti quae alias cumque sint molestias?
            Eveniet asperiores ipsa reprehenderit!
            Officiis, assumenda asperiores. Ut non quasi magnam quae beatae accusamus expedita veritatis reiciendis
            corrupti. Rerum dolorem maxime doloribus debitis corrupti impedit magni pariatur, et alias quas sit quaerat
            saepe voluptate!
            Cum reprehenderit, ad voluptate corrupti dolores obcaecati placeat et accusamus error possimus, itaque
            adipisci enim dignissimos! Sunt, quibusdam! Fugit repellendus ullam perspiciatis ea eligendi eum
            reprehenderit cumque aspernatur aliquam fuga?
            Esse optio autem officiis natus consectetur culpa! Ipsam aperiam molestias reiciendis porro iure ullam,
            velit eligendi dignissimos at fugit animi ad saepe optio ipsum quos dolor quia facilis voluptatem!
            Reiciendis.
            Dignissimos, suscipit. Odio labore reprehenderit explicabo ipsum commodi. Atque vitae possimus molestiae
            autem quisquam fugiat accusantium ipsum quae velit repudiandae assumenda similique sint inventore
            praesentium repellat tempora rem, amet quos!
            Mollitia facilis assumenda tempora expedita omnis laboriosam libero quis? Earum qui omnis quibusdam, dolorum
            eveniet provident maiores ad odio. Natus, dolores ipsa veniam impedit est saepe ullam possimus fugiat nobis.
            Porro, tenetur amet! Modi et ducimus, eius harum aliquam minus reprehenderit tempore at tenetur veniam,
            voluptates iusto sed commodi facilis repellendus vitae error, laboriosam pariatur soluta aliquid omnis odio
            neque?
            Modi maxime, quam voluptatum labore harum omnis nemo molestiae, adipisci eum voluptatibus totam! Fuga rem
            sapiente quo. Fuga illum cum, deleniti reiciendis vel saepe, eius modi quaerat perferendis harum nihil?
            Labore numquam veritatis velit ullam nesciunt laboriosam officiis quibusdam tenetur unde architecto
            accusamus consequuntur deserunt, dignissimos, aliquid commodi, reiciendis voluptate nam repellat odit vero
            nihil. Laborum in totam eius deserunt?
            Necessitatibus explicabo suscipit tempore! Itaque, reiciendis accusamus, eaque enim repellat officiis
            reprehenderit inventore doloremque amet laboriosam delectus a corrupti ipsum voluptate. Vitae explicabo
            quisquam expedita. Voluptate amet tempore sit enim.
            Nostrum quo perspiciatis perferendis repellat beatae ratione harum inventore odit autem exercitationem
            voluptatem fugit dolor labore aperiam facilis ad nemo optio, ullam excepturi sed delectus! Optio beatae
            minima id velit.
            Ab et maiores saepe quo nostrum non veritatis. Eos quas delectus harum quisquam possimus, nostrum ducimus
            reprehenderit at ipsum consectetur totam, perferendis nisi ex! Quidem dolorum non facere vitae ipsa.
            Accusantium et exercitationem ad corrupti dolor atque eos dolorem nisi esse, laborum adipisci, repellendus
            dolorum nihil, similique aliquam saepe optio. Optio totam nemo dolores pariatur eos? Enim commodi quo
            excepturi?
            Harum nesciunt quasi illo fuga deleniti rem laboriosam ipsam veniam praesentium, alias iure in atque modi
            laborum beatae quia saepe eligendi voluptates sed nobis. Rerum officia voluptatem nostrum reprehenderit
            nemo!
            Numquam magni recusandae deleniti voluptatum illo autem temporibus cupiditate expedita incidunt, aliquid
            nihil beatae. Dolorum, magnam? Aperiam accusantium soluta expedita fuga pariatur velit, molestiae inventore
            perspiciatis facere magni iure impedit.
            Quam fuga quidem est labore deserunt ipsa eaque rem error dolorum qui repudiandae officiis aut assumenda
            dignissimos, possimus vel iure beatae ad quo? Quasi temporibus quia eos sit officiis. Provident!
            Repudiandae, animi eveniet minus corrupti, nisi enim fuga ab quam velit quas molestias atque suscipit iusto
            reiciendis, quibusdam doloribus sapiente ipsum qui repellendus architecto minima unde aspernatur nobis!
            Architecto, magni.
            Sint est ab officia iste aliquam a commodi possimus! Ullam ab, error, odit necessitatibus obcaecati quaerat
            illo quam repudiandae laudantium, doloremque consequuntur esse incidunt repellat placeat? Ut dolor
            necessitatibus consequatur!
            Eum nulla laborum minima id consequatur officiis? Maiores reprehenderit voluptatibus repudiandae,
            exercitationem debitis perspiciatis aut adipisci suscipit quod cum, minus velit dolore quo magni officiis
            quaerat aliquam quibusdam mollitia est.
            Quidem deleniti rem doloribus debitis magni sequi inventore porro possimus dicta veritatis architecto sit
            modi qui reprehenderit ipsum, ducimus perferendis dolore nam unde, voluptate, autem itaque explicabo ad!
            Ducimus, earum.
            Inventore, quas officia, nulla quam quasi sint aperiam provident ea, deserunt illo facere doloremque
            laboriosam possimus vero explicabo? Dolorum laboriosam quidem similique veritatis? Tempore fugit ab at illum
            incidunt modi!
            Repellendus sit voluptate tenetur velit error architecto deserunt doloremque, ad facere assumenda eligendi
            pariatur mollitia magnam aliquid enim quibusdam esse eum nihil saepe! Doloremque voluptas expedita similique
            consequuntur nostrum amet.
            Delectus nostrum nisi expedita? Optio veniam minima quaerat quis nihil dolorum cumque nobis, facere possimus
            facilis rerum? Id, eveniet. Accusantium porro non nulla in suscipit qui recusandae. Est, saepe tempore?
            Recusandae iure veniam sequi distinctio non facere voluptas optio! Rerum provident, blanditiis deleniti
            labore, est quae dolorem dolor, tenetur rem accusantium animi voluptate excepturi inventore minus autem ut
            ex. Nostrum.
            Iusto, distinctio adipisci! Eos molestiae aperiam reiciendis distinctio perferendis hic mollitia vitae
            doloremque aspernatur. Eius ducimus dolor id quis vero vel voluptatum numquam ratione aliquid laboriosam! At
            iusto mollitia ipsum.
            Quae nisi eum earum dignissimos expedita libero veritatis ipsum, ut illum error debitis, reprehenderit
            tempora amet accusantium porro neque, sit quibusdam. Vero eos, reiciendis corporis nihil ullam praesentium
            labore numquam!
            Quod maiores eaque impedit repudiandae quibusdam explicabo vitae provident delectus suscipit, aspernatur
            veniam, quas ab accusamus velit reprehenderit deserunt? Et fugit non odio itaque? Veniam quasi voluptate
            explicabo praesentium mollitia?
            Eum tempore esse saepe molestiae magni ut et inventore reiciendis, dolor, consectetur possimus quibusdam
            laudantium architecto eaque reprehenderit dicta corporis ea, fugiat quidem delectus? Veniam pariatur
            voluptatem voluptates quasi sint!
            Sunt sed aliquid numquam mollitia consectetur natus nobis ipsam autem placeat praesentium cum, facere
            obcaecati impedit accusantium animi repudiandae dolor in modi eligendi qui officia nam porro! Debitis, esse
            animi?
            Quam obcaecati, quia ipsa iure voluptates voluptate nihil illo dolor, suscipit nesciunt pariatur hic sed
            voluptas voluptatibus soluta voluptatem magni qui quae fugit doloribus repellat quod, sit earum!
            Consectetur, vero.
            Eum quod at facere dolorem. Alias ipsa dicta vel ab quam beatae soluta delectus enim, vitae est ipsum nam
            quod earum, dolorem nesciunt reprehenderit accusantium eveniet quo nulla iste hic.
            Hic provident, culpa aperiam eos numquam rerum esse inventore delectus architecto dolore accusantium
            corrupti facilis fugiat repudiandae exercitationem enim autem atque eaque perferendis quaerat molestiae
            laborum consequuntur. Ab, est mollitia.
            A, assumenda quos, modi officiis praesentium amet molestias ab quae itaque suscipit sint repudiandae
            dignissimos quaerat labore? Ea, voluptates! Illum dolore maiores animi beatae neque quos inventore sit enim
            fugiat?
            Error dolores ad, quidem harum ex minus neque rem ut minima at quae fugit dolorem hic sed nobis suscipit
            molestias voluptatibus? Quis atque alias illum enim doloremque velit deserunt maiores?
            Accusamus voluptate corporis doloremque corrupti nulla delectus, magni deserunt ad nemo doloribus beatae!
            Deleniti pariatur debitis velit reiciendis rem, distinctio possimus, recusandae illo blanditiis hic repellat
            animi aut voluptates voluptatibus.
            Vitae ad, inventore laboriosam quaerat hic necessitatibus debitis aliquid, sapiente iste perspiciatis
            tenetur rerum asperiores atque suscipit accusantium quae numquam a officia adipisci placeat velit doloribus!
            Corporis possimus repellat numquam?
            Officiis nihil esse itaque magnam aspernatur. Sapiente dicta deserunt sequi hic. Doloribus minima veniam,
            debitis at quae odio nostrum ea consequatur soluta saepe porro quasi voluptates. Ipsam ut magni doloremque?
            Modi vitae at, error eveniet harum porro, aut autem sit eaque quibusdam corrupti aliquid consectetur
            sapiente consequatur. Nesciunt recusandae, sunt provident quo reiciendis laboriosam iusto possimus
            blanditiis dolore odio. Id.
            Vero tenetur laudantium quod vitae id, eius, ea deleniti quaerat in accusantium sapiente minus temporibus
            sit autem. Voluptatem alias ducimus provident, assumenda laborum aut. Eos eaque culpa unde minima similique!
            Rerum reiciendis mollitia exercitationem vero, culpa, quaerat quo voluptates sed distinctio assumenda earum
            nesciunt velit laudantium facilis suscipit eveniet dolore aliquam. Debitis tempore et ducimus deleniti
            molestias, sit dicta maiores!
            Reprehenderit facere odit laborum provident esse pariatur quam asperiores vitae odio dolore. Assumenda alias
            odit quae impedit quo. Inventore blanditiis in reprehenderit possimus ea quia sequi pariatur voluptas.
            Veniam, architecto.
            Libero aperiam eveniet at eos laborum voluptas in sunt quaerat illum corporis sed vero eius repellendus
            facere quas, reprehenderit beatae optio non deleniti eaque veniam rem voluptates, sequi illo! Dolore?</p>
</body>

</html>