<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>

<body>
    <h1>navbar lodu</h1>
    <hr>
    <h1>design</h1>
    <hr>
    <h1>about airport</h1>
    <hr>
    <h1>find your flight</h1>
    <hr>
    <h1>search flight</h1>
    <hr>
    <h1>amminities</h1>
    <hr>
    <h1>footer</h1>
</body>

</html>