<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign_in</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <div class="sign-in-css">
        <div class="item">
            <form action="/search">
                <div class="entry1">

                    <span>E-mail: </span>
                <input type="text" name="email">
                </div>
                <div class="entry">

                    <span>Password: </span>
                    <input type="text" name="password">
                    
                </div>
            
                <div class="btn_sign">

                    <input type="submit" value="sign in">
                </div>
            </form>
            
        </div>
       
    </div>
</body>
</html>